.textcolor{
    color: #117693 !important;
}

.bgcolor{
    background-color: #117693 !important;
}

.bordernone{
    border: none !important;
}

#test{
    background-image: url('../img/PHP1.png');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: left;
    z-index: -1;
}
